@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* GLOBAL STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

   
  
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}




/* HEADER STYLES */

.main-header{
    padding: 2rem 0;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.logo{
    max-width: 70px;
}
.logo img{
    width: 100%;
}
.search{
    width: 300px;
    height: 35px;
   
   
   
}

#movie-search{
    width: 100%;
    height: 100%;
    border: none;
    padding: 1rem;
    border-radius: 5px;
 
}


/* MOVIES */

.main-section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        
        
       
}
.popular-title{
    text-align: center;
    font-size: 1.7rem;
    color: rgb(49, 49, 49);

    margin-top: 3rem;
    margin-bottom: 1rem;

}



/* cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
    color: black;
    height: 350px;
    width: 250px;
    margin: 1rem
    
  }
  .content{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card .profile{
     border-radius:10px;
     transition: 0.2s;
  }
  .card:hover .profile{
    transform:scale(1.4);
    border-top-right-radius:50px;
    border-top-left-radius:50px;
  }

  .rating{
      margin: .6rem 0;
      font-weight: 600;
      font-size: 1.5rem;
  }
  .back{
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 1rem;
  }
  .back p{
    
      font-size: .8rem;
  }
  
  .card .content{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
  }
  .card .content .back{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #f1f1f1e6;
    transition:1s;
    z-index:1;
  }
  
  .from-left{
    top:0;
    left:-100%;
  }
  .card:hover .content .from-left {
     left:0%;
  }

  
 